@import url('https://fonts.googleapis.com/css?family=Numans');

.custom-container{
    height: 100%;
    width: 100%;
    align-content: center;
    padding: 10px 20px;
    background-color: #f1f1f1;
}